@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

$primary-color: #bf2422;
$primary-font: 'Castoro', serif;
$logo-text: 'Yellowtail', cursive;

* {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: $primary-font;
  line-height: 1.4;
  color: #ffffff;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}
.text-primary {
  color: $primary-font;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background-color: $primary-color;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: $primary-color;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  font-size: 1rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: ffffff;
  font-size: 1rem;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: ffffff;
  font-size: 1rem;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: ffffff;
  font-size: 1rem;
}
