@use 'utilities';

#navbar {
  // height: 100%;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20vw;
    height: 100px;
    color: #ffffff;

    .logo-img {
      font-family: utilities.$logo-text;
      font-size: 4rem;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: utilities.$primary-color;
    padding: 0 20vw;
    height: 60px;
    color: #fff;
    font-size: 0.9rem;

    ul {
      display: flex;

      li a {
        color: #fff;
        padding: 0 0.1rem;
        padding-bottom: 0.3rem;
        margin: 0 2rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s ease-in-out;
      }

      li a:hover {
        border-bottom: 2px solid #fff;
      }
    }

    input {
      background: transparent;
      color: #ffffff;
      border: none;
      outline: none;
      padding: 10px;
    }

    .icons a i {
      padding: 0 0.5rem;
      color: #fff;
    }
  }
}

// Section: Hero
#hero {
  // display: none;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.9) 50%,
      rgba(0, 0, 0, 0.1)
    ),
    url('/images/hermes-rivera-aK6WGqxyHFw-unsplash.jpg') no-repeat center
      center/cover;
  height: 100vh;

  .hero-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    img {
      width: 400px;
      margin-bottom: 7rem;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 15rem;

    p {
      font-size: 1.2rem;
    }
  }
}

// Section: Features
#features {
  // display: none;
  .feature-content {
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;

    div {
      flex: 1 1 0px;
    }

    .feature-item {
      padding: 2rem;
    }

    .feature-text {
      text-align: justify;
    }

    .feature-img {
      text-align: center;
      img {
        width: 450px;
      }
    }

    .feature-message {
      display: flex;
      position: relative;
      height: 500px;
      top: 55px;
      left: -120px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #fff;
      -webkit-box-shadow: 11px 10px 24px -3px rgba(171, 171, 171, 1);
      -moz-box-shadow: 11px 10px 24px -3px rgba(171, 171, 171, 1);
      box-shadow: 11px 10px 24px -3px rgba(171, 171, 171, 1);

      .feature-message-name {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        p {
          margin: 0;
        }
      }

      .feature-message-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;

        img {
          width: 130px;
          height: 130px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}

// Section Products
#products {
  // display: none;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
    url('/images/vera-cires-dqIayqqS5G0-unsplash (Large).jpg') no-repeat center
      center/cover;
  height: 70vh;
  margin: 2rem 0;

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    .item {
      margin-bottom: 2rem;
    }
  }
}

// Section: Footer
#contact {
  .contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .item {
      margin-bottom: 2rem;

      h1 {
        text-shadow: 0px 10px 24px rgba(171, 171, 171, 1);
      }

      .social {
        display: flex;

        a {
          color: utilities.$primary-color;
          font-size: 3rem;
          padding: 0 2rem;

          i:hover {
            text-shadow: 0px 10px 24px rgba(171, 171, 171, 1);
          }
        }
      }
    }

    .newsletter {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 50px;

      input {
        border-radius: 50px;
        position: relative;
        padding: 1rem;
        width: 300px;
        border: none;
        outline: none;
        border-top-left-radius: 50rem;
        border-bottom-left-radius: 50rem;
        -webkit-box-shadow: 11px 10px 24px -3px rgba(171, 171, 171, 1);
        -moz-box-shadow: 0px 10px 24px -3px rgba(171, 171, 171, 1);
        box-shadow: 0px 10px 24px -3px rgba(171, 171, 171, 1);
      }

      i {
        background: utilities.$primary-color;
        left: -300px;
        padding: 1rem;
        border-top-right-radius: 50rem;
        border-bottom-right-radius: 50rem;
        color: #ffffff;

        &:hover {
          -webkit-box-shadow: 11px 10px 24px -3px rgba(171, 171, 171, 1);
          -moz-box-shadow: 0px 10px 24px -3px rgba(171, 171, 171, 1);
          box-shadow: 0px 10px 24px -3px rgba(171, 171, 171, 1);
        }
      }
    }
  }
}
